* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111827;
    background-image:
        linear-gradient(
            rgba(17, 24, 39, 0.85),
            rgba(17, 24, 39, 0.85)
        ),
        url("image.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
a {
    color: rgba(237,237,240,.92);
    text-decoration:underline;
}


/* Navbar */

.navbar {
    display: flex;
    position:fixed;
    top: 0;

    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(31, 41, 55, 0.95);
    backdrop-filter: blur(10px);
}
.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-circle {
    width: 45px;
    height: 45px;
border: solid 2px #60a5fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 16px;

    box-shadow: 0 0 12px rgba(96,165,250,0.4);
}

.logo {
    color: #60a5fa;
    font-size: 28px;
}

#theme-toggle {
    border: none;
    background: #60a5fa;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

#theme-toggle:hover {
    background: #3b82f6;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
     position: relative;
}

.nav-links a:hover {
    color: #60a5fa;
}

.nav-links a::after {
    content: "";
    position: absolute;

    width: 0;
    height: 2px;

    left: 0;
    bottom: -5px;

    background: #60a5fa;

    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
    padding: 80px 60px;
    min-height: 90vh;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-text h3 {
    font-size: 24px;
    color: #60a5fa;
    margin-bottom: 20px;
}

.hero-text p {
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 18px;
}
.hero-image img {
    width:100%;
    max-width: 320px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;

    border: 4px solid #60a5fa;

    box-shadow: 0 0 30px rgba(96,165,250,0.3);

    transition: 0.3s;
}

.hero-image img:hover {
    transform: scale(1.05);
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn {
    background: #60a5fa;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    background: #3b82f6;
}

.btn-outline {
    border: 2px solid #60a5fa;
    color: #60a5fa;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: .3s;
}

.btn-outline:hover {
    background: #60a5fa;
    color: white;
}
.about h2 {
    font-size: 28px;
    color: #60a5fa;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 18px;

    text-align: center;
}

.about {
    padding: 80px 60px;
}
.stats {
    padding: 40px 60px;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 20px;
}

.stat-card {
    background: rgba(31,41,55,.75);
    padding: 25px;
    text-align: center;
    border-radius: 12px;
}

.stat-card h2 {
    color: #60a5fa;
    font-size: 35px;
    margin-bottom: 10px;
}

.stat-card p {
    color: #d1d5db;
}
.skills {
    padding: 80px 60px;
}

.skills h2 {
    text-align: center;
    color: #60a5fa;
    font-size: 32px;
    margin-bottom: 40px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    
}

.skill-card {
    background: rgba(31, 41, 55, 0.8);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid #60a5fa;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(96,165,250,0.25);
}

.skill-card h3 {
    color: #60a5fa;
    margin-bottom: 10px;
}

.skill-card p {
    color: #d1d5db;
    font-size: 15px;
    line-height: 1.6;
}

/* Projects Section */

.projects {
    padding: 80px 60px;
}

.projects h2 {
    text-align: center;
    color: #60a5fa;
    font-size: 32px;
    margin-bottom: 40px;
}

.project-card {
    background: rgba(31, 41, 55, 0.65);
    backdrop-filter: blur(10px);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    transition: 0.3s;
    border-left: 5px solid #60a5fa;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(96, 165, 250, 0.2);
}

.project-card h3 {
    color: #60a5fa;
    margin-bottom: 15px;
    font-size: 24px;
}

.project-card p {
    color: #d1d5db;
    line-height: 1.7;
    font-size: 17px;
}
.project-tech {
    margin-top: 15px;
}

.project-tech span {
    display: inline-block;
    background: rgba(96,165,250,.15);
    color: #60a5fa;
    padding: 8px 15px;
    border-radius: 30px;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 14px;
}
.contact {
    padding: 80px 60px;
    text-align: center;
}

.contact h2 {
    color: #60a5fa;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 10px;
}

.contact-info {
    color: #3b82f6;
    margin-top: 20px;
    word-break: break-word;
}
@media (max-width: 768px) {

    .navbar {
        padding: 15px;
    }

    .nav-right {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    #theme-toggle {
        width: 55px;
        height: 55px;
    }
     .hero {
        padding-top: 180px;
    }
    .hero-text h1{
        font-size: 42px;
    }

    .hero-text h3{
        font-size: 20px;
    }

    .hero-text p{
        font-size: 16px;
    }
     .logo {
        font-size: 20px;
    }

    .logo-circle {
        width: 38px;
        height: 38px;
        font-size: 14px;
    }
    .hero-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-image img {
         max-width: 250px;
                width: 70vw;
    }
     .hero-buttons{
        flex-direction: column;
        align-items: center;
    }

    .btn,
    .btn-outline{
        width: 220px;
        text-align:center;
    }
     .about,
    .projects,
    .contact {
        padding: 60px 20px;
    }
    .footer-container{
        flex-direction: column;
        text-align:center;
        gap:25px;
    }

    .footer-right{
        flex-direction: column;
        gap:12px;
        align-items:center;
    }

    .footer-left{
        text-align:center;
    }
}

    
#topBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    font-size: 24px;
    cursor: pointer;

     background: #2563eb;
    color: white;

    z-index: 1000;
}

#topBtn:hover {
    background-color: #6894fd;
}
footer {
    background: rgba(31, 41, 55, 0.95);
    padding: 20px 60px;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-right h3{
  color: #60a5fa;  
}
.footer-left h3 {
    color: #60a5fa;
    font-size: 20px;
    margin-bottom: 5px;
}

.footer-left p {
    color: #d1d5db;
    font-size: 14px;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-right a {
    text-decoration: none;
    color: #d1d5db;
    font-size: 15px;
    transition: 0.3s;
}

.footer-right a:hover {
    color: #60a5fa;
}

footer hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.1);
}

.copyright {
    text-align: center;
    color: #9ca3af;
    font-size: 13px;
}

/* Light Mode */
body.light-mode {
    background: #dbeafe;
    background-image: none;
    color: #111827;
}

/* Navbar */
body.light-mode .navbar {
    background: rgba(255,255,255,0.9);
}

body.light-mode .logo {
    color: #2563eb;
}

body.light-mode .nav-links a {
    color: #111827;
}

/* Hero */
body.light-mode .hero-text p {
    color: #374151;
}

/* About */
body.light-mode .about p {
    color: #374151;
}

/* Skills */
body.light-mode .skill-card {
    background: white;
    border: 1px solid #dbeafe;
}

body.light-mode .skill-card p {
    color: #374151;
}

/* Stats */
body.light-mode .stat-card {
    background: white;
}

body.light-mode .stat-card p {
    color: #374151;
}

/* Projects */
body.light-mode .project-card {
    background: white;
    border-left: 5px solid #60a5fa;
}

body.light-mode .project-card p {
    color: #374151;
}

/* Contact */
body.light-mode .contact p {
    color: #374151;
}

body.light-mode .contact-info a {
    color: #2563eb;
}

/* General Links */
body.light-mode a {
    color: #2563eb;
}

/* Footer */
body.light-mode footer {
    background: #e5e7eb;
}

body.light-mode .footer-left p,
body.light-mode .footer-right a,
body.light-mode .copyright {
    color: #374151;
}

/* Scroll Button */
body.light-mode #topBtn {
    background: #2563eb;
}



